:root {
  /*
=============== 
color
===============
*/
  --background-clr: #1f2937;
  --primary-clr: #4adf86;
  --secondary-clr: #ffffff;
  --third-clr: #d5d4d8;
  --forth-clr: #273549;
  --light-green: #ecfdf5;
  --off-black: #1c1c1c;

  --primary-font: "Karla", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--off-black);
  font-family: var(--primary-font);
}

.container {
  margin: 150px auto;
  width: 550px;
  height: 550px;
  padding: 100px 50px;
  background: var(--background-clr);
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.hero-section {
  margin-bottom: 50px;
}

h1 {
  color: var(--secondary-clr);
  font-weight: 800;
  font-size: 40px;
}

.color-h1 {
  color: var(--primary-clr);
}

p {
  color: var(--third-clr);
  font-size: 24px;
  font-weight: 200;
}

.generate-btn {
  margin-bottom: 40px;
}

.generate-pwrd {
  padding: 9px 15px;
  background: var(--primary-clr);
  color: var(--secondary-clr);
  font-size: 16px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
}

.generate-pwrd:hover {
  background: #064e3b;
  font-weight: 700;
}

label {
  color: var(--secondary-clr);
  margin-left: 42px;
  margin-right: 14px;
  font-weight: 700;
}

#pwrd-length {
  background: var(--forth-clr);
  border: none;
  border-radius: 6px;
  padding: 9px 15px;
  height: 39px;
  width: 70px;
  color: var(--secondary-clr);
}

hr {
  height: 2px;
  width: 100%;
  background: var(--forth-clr);
  border: none;
}

.password-wraper {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

#password-one,
#password-two {
  margin-top: 35px;
  height: 39px;
  width: 211px;
  background: var(--forth-clr);
  border: none;
  border-radius: 6px;
  padding: 10px 15px;
  color: var(--primary-clr);
  font-weight: 500;
}

#password-one {
  margin-right: 1px;
}

#password-one:hover,
#password-two:hover {
  background: black;
  font-weight: 700;
}
